<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Ajouter un Client</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          Veillez fournir les informations du clients.
        </p>
        <form cForm class="row g-3" [formGroup]="profileForm" (ngSubmit)="ajouter()">
          <c-col [md]="6">
            <label cLabel for="inputEmail4">Nom:</label>
            <input cFormControl id="inputEmail4" name="firstName" formControlName="firstName" type="text" />

            <div
              *ngIf="profileForm.controls['firstName'].invalid && (profileForm.controls['firstName'].dirty || profileForm.controls['firstName'].touched || submitted)"
              class="alert alert-danger">
              <div *ngIf="profileForm.controls['firstName'].errors?.['required']">
                Le nom du client est requis.</div>
            </div>

          </c-col>
          <c-col [md]="6">
            <label cLabel for="inputPassword4">Prenom:</label>
            <input cFormControl id="inputPassword4" formControlName="lastName" name="lastName" type="text" />
            <div
              *ngIf="profileForm.controls['lastName'].invalid && (profileForm.controls['lastName'].dirty || profileForm.controls['lastName'].touched || submitted)"
              class="alert alert-danger">
              <div *ngIf="profileForm.controls['lastName'].errors?.['required']">
                Le prenom est requis.</div>
            </div>
          </c-col>

          <c-row [gutter]="{g: 2}">
            <c-col [md]>
              <div cFormFloating>
                <input cFormControl id="floatingInputGrid" type="email" value="email@example.com"
                  formControlName="email" />
                <label cLabel for="floatingInputGrid">Email address</label>
              </div>
            </c-col>

          </c-row>

          <c-col [xs]="12">
            <label cLabel for="inputAddress">Address</label>
            <input cFormControl id="inputAddress" name="address" formControlName="address"
              placeholder="1234 Bamako coura" />
          </c-col>

          <c-col [md]="6">
            <label cLabel for="inputCity">Contact: </label>
            <input cFormControl id="inputCity" type="tel" name="contact" formControlName="phone"
              placeholder="numero de télephone" />

            <div
              *ngIf="profileForm.controls['phone'].invalid && (profileForm.controls['phone'].dirty || profileForm.controls['phone'].touched || submitted)"
              class="alert alert-danger">
              <div *ngIf="profileForm.controls['phone'].errors?.['required']">
                Le numero du client est requis.</div>
            </div>

          </c-col>


          <c-col [md]="6">
            <label cLabel for="inputCity">Contact: </label>
            <input cFormControl id="inputCity" type="text" name="occupation" formControlName="occupation"
              placeholder="occupation" />
          </c-col>


          <c-col [md]="6">
            <label cLabel for="inputCity">Numero du point de Vente: </label>
            <input cFormControl id="inputCity" type="text" name="pdvNumber" formControlName="pdvNumber"
              placeholder="pdvNumber " />
          </c-col>

          <c-col [xs]="12">
            <button *ngIf="!submitted"  type="submit">Ajouter</button>
            <button *ngIf="submitted"  cButton class="m-1" disabled>
              <c-spinner aria-hidden="true" size="sm"></c-spinner>
              Loading...
            </button>
          </c-col>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>