<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      <strong>Liste des Fournisseurs</strong>
        <button style="float: right;" class="btn float-right" color="primary"  [routerLink]="['/base/suppliers']" cButton> ajouter
        </button>
    </c-card-header>
    <c-card-body>

      <!-- <p class="text-medium-emphasis small">
        A <code>&lt;caption&gt;</code> functions like a heading for a table. It helps
        users with screen readers to find a table and understand what it's about and
        decide if they want to read it.
      </p> -->

        <table cTable>
          <caption>Listes des Fournisseurs</caption>
          <thead>
          <tr>
            <th scope="col">Nom </th>
            <th scope="col">Prenom </th>
            <th scope="col">email </th>
            <th scope="col">contact principal</th>
            <th scope="col">contact secondaire</th>
            <th scope="col">business name</th>
            <th scope="col">actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let provider of providers">
            <!-- <th scope="row">1</th> -->
            <td>{{provider.individual?.firstName}}</td>
            <td>{{provider.individual?.lastName}}</td>
            <td>{{provider?.email}}</td>
            <td>{{provider?.firstPhone}}</td>
            <td>{{provider?.secondPhone}}</td>
            <td>{{provider.business?.name}}</td>
            <td>
              <button type="button" rel="tooltip" (click)="deletesupplier(provider.id)" class="btn btn-danger btn-just-icon btn-sm">
                <svg cIcon class="me-2" class="center-align" name="cil-trash"></svg>
            </button>
            <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" [routerLink]="['/base/editsupplier/', provider.id]" data-original-title="" title="">
              <svg cIcon class="me-2" class="center-align" name="cil-pencil"></svg>
            </button>
            </td>
          </tr>

          <tr class="center-align">
            <td *ngIf="providers.length == 0"  class="center-align" colspan="4">No provider Found</td>
          </tr>
          </tbody>
        </table>
    </c-card-body>
  </c-card>
</c-col>