<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Ajouter une operation</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          Veillez fournir les informations de l'operation.
        </p>



        <form cForm class="row g-3" *ngIf="currentOperation" [formGroup]="operationForm" >

          <c-row [gutter]="{g: 2}">
            <c-col [md]="6">
              <label cLabel for="inputCity">Operation Name: </label>
              <input cFormControl id="inputCity" type="text" name="name"  formControlName="name"  [(ngModel)]="currentOperation.name" 
                placeholder="Nom de l'operation" />
          
                <div
                *ngIf="operationForm.controls['name'].invalid && (operationForm.controls['name'].dirty || operationForm.controls['name'].touched || submitted)"
                class="alert alert-danger">
                <div *ngIf="operationForm.controls['name'].errors?.['required']">
                  Le nom de l'operation est requis.</div>
              </div>
            </c-col>
  
  
            <c-col [md]="6">
              <label cLabel for="inputCity">Description: </label>
              <input cFormControl id="inputCity" type="text" name="description" formControlName="description" [(ngModel)]="currentOperation.description" 
                placeholder="description " />
            </c-col>
          </c-row>


          <c-col [xs]="12">
            <button  cButton type="submit" (click)="updateOperation()">Ajouter</button>
          </c-col>
        </form>
      </c-card-body>
    </c-card>

    <!-- <c-card class="mb-4">
        <c-card-header>
          <strong>Angular Accordion</strong> alwaysOpen
        </c-card-header>
        <c-card-body>
          <app-docs-example href="components/accordion#always-open">
            <c-accordion [alwaysOpen]="true" class="shadow accordion-custom">
              <c-accordion-item *ngFor="let item of items; let i = index;" [visible]="i===1">
                <ng-template cTemplateId="accordionHeader">
                  Custom Accordion item #{{i}}
                </ng-template>
                <ng-template cTemplateId="accordionBody">
                  <small><i>{{i}}.</i></small>
                  <span [innerHTML]="getAccordionBodyText(i.toString())"></span>
                </ng-template>
              </c-accordion-item>
            </c-accordion>
          </app-docs-example>
        </c-card-body>
      </c-card> -->
  </c-col>
</c-row>