
<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>

        <strong>Liste des Transactions</strong>

          <button style="float: center; align-items: center; margin-left: 15px; background-color: rgb(80, 233, 80);" class="btn float-center"   [routerLink]="['/base/addtransaction']" cButton> Importer Fichier
    
          </button>

          <button style="float: right;" class="btn float-right" color="primary"  [routerLink]="['/base/addtransaction']" cButton> ajouter
    
          </button>

    </c-card-header>
    <c-card-body>

        <table cTable class="center-align">
          <caption>Listes des Transactions</caption>
          <thead>
          <tr>
            <th scope="col">Nom </th>
            <th scope="col">Prenom </th>
            <th scope="col">operation name</th>
            <th scope="col">montant</th>
            <th scope="col">actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let transaction of listeTransactions">
            <!-- <th scope="row">1</th> -->
            <td>{{transaction.client?.firstName}}</td>
            <td>{{transaction.client?.lastName}}</td>
            <td>{{transaction.operation?.name}}</td>
            <td>{{transaction.amount}}</td>
            <td>
              <button type="button" rel="tooltip" (click)="deleteTransaction(transaction.id)"  class="btn btn-danger btn-just-icon btn-sm">
                <svg cIcon class="me-2" class="center-align" name="cil-trash"></svg>
            </button>
            <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" [routerLink]="['/base/edittransaction/',transaction.id]" data-original-title="" title="">
              <svg cIcon class="me-2" class="center-align" name="cil-pencil"></svg>
            </button>
            </td>
          </tr>
          <tr class="center-align">
            <td   class="center-align" colspan="4">No Customers Found</td>
          </tr>
          </tbody>
        </table>
    </c-card-body>
  </c-card>
</c-col>